<!-- //cSpell:disable
dark:bg-slate-700
-->
<div class="max-w-sm mx-auto px-1 py-2 rounded-md">
  <text
    [label]="'Nombre'"
    placeholder="Ingrese el nombre de la categoria"
    [fGroup]="form"
    controlName="name"
    [activeUpercase]="true"
  />
  <text
    [label]="'Descripcion'"
    placeholder="Ingrese la descripcion de la categoria"
    [fGroup]="form"
    controlName="description"
    [activeUpercase]="false"
  />
  <text [label]="'Estado'" placeholder="" [fGroup]="form" controlName="state" />

  <button type="submit" class="submitButton" (click)="saveData()">
    Enviar
  </button>
</div>
