<router-outlet></router-outlet>
<!-- <dashboard></dashboard> -->
<!-- <div class="grid grid-cols-1">
  <div class="col-span-1 flex flex-row justify-between items-center">
    <button
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
      (click)="hideComponent = !hideComponent"
    >
      ocultar componente
    </button>
    <button
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
      (click)="this.messageParent = this.messageParent + 1"
    >
      cambiar mensaje
    </button>
  </div>
  @if (!hideComponent) {
    <div class="col-span-1">
      <temp
        menssageFromParent="{{ messageParent + ' :numero de saludo' }}"
      ></temp>
    </div>
  }
</div> -->
