<section class="relative" colorContainer>
  <h1 class="text-2xl font-bold">{{ 'Categorias' | activeWordMayus: true }}</h1>
  <section
    class="grid grid-cols-1 md:grid-cols-4 bg-white rounded-md px-4 py-4 gap-2"
  >
    <div class="col-span-full">
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        (click)="showFormFn()"
      >
        {{ 'Nueva categoria' | activeWordMayus: true }}
      </button>
    </div>
    <div [ngClass]="{ 'col-span-3': showForm(), 'col-span-full': !showForm() }">
      <category-table [categories]="categories() ?? []"></category-table>
    </div>
    <!-- @if (showForm()) { -->
    @defer (when showForm()) {
      <div class="col-span-1">
        <category-form (addData)="addDataFn($event)"></category-form>
      </div>
    }
  </section>
</section>

<div class="flex flex-col mt-4">
  <section class="bg-red-200 rounded-lg">
    <h1>Defer con interaccion de timmer</h1>
    @defer (on timer(3s)) {
      <h1>****** Defer cargado al terminar el timer ****</h1>
    } @placeholder {
      <h1>Este defer se cargara con un timer</h1>
    }
  </section>
</div>

<div class="flex flex-col mt-4">
  <section class="bg-white rounded-lg">
    <h1>Defer con expresion logica</h1>
    @defer (when showForm()) {
      <h1>****** Defer cargado con expresion logica ****</h1>
    } @placeholder {
      <h1>para activar este defer presenta el formulario</h1>
    } @loading (minimum 3s) {
      <h1>Cargando defer con expresion logica</h1>
    }
  </section>
</div>

<div class="flex flex-col mt-4">
  <section class="bg-white rounded-lg">
    <h1>****** Defer cargado con on imediatamente ****</h1>
    @defer (on immediate) {
      <h1>****** Defer cargado inmediatamente ****</h1>
    }
  </section>
</div>

<div class="flex flex-col mt-4">
  <section class="bg-blue-200 rounded-lg">
    <h1>Defer con interaccion del propio elemento</h1>
    @defer (on interaction) {
      <h1>****** Defer cargado con interacion ****</h1>
    } @placeholder {
      <h1>para activar este defer interactua con este elemento</h1>
    }
  </section>
</div>

<div class="flex flex-col mt-4">
  <section class="bg-yellow-200 rounded-lg">
    <button
      #btnInteraction
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      hola, click on me
    </button>
    <h1>Defer con interaccion de boton</h1>
    @defer (on interaction(btnInteraction)) {
      <h1>****** Defer cargado con interacion de boton ****</h1>
    } @placeholder {
      <h1>para activar este defer interactua con el boton</h1>
    }

    <div class="bg-slate-500 w-full h-6"></div>

    @defer (on hover(btnInteraction)) {
      <h1>****** Defer cargado al pasar el mouse sobre el boton ****</h1>
    } @placeholder {
      <h1>para activar este defer pasar el mouse sobre el boton</h1>
    }
  </section>
</div>

<div class="flex flex-col mt-4">
  <section class="bg-pink-200 rounded-lg">
    <h1>Defer con interaccion del propio elemento</h1>
    @defer (on hover) {
      <h1>****** Defer cargado al pasar el mouse sobre el elemento ****</h1>
    } @placeholder {
      <h1>para activar este defer pasa sobre el elemento</h1>
    }
  </section>
</div>
